<!doctype html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta content="二手交易,出售,求购,二手论坛" name="keywords">
    <meta name="description" content="给你网是最活力的二手交易论坛,提供最新最全最真实的二手交易信息,寻二手物件来给你网,出售、求购、二手交易首选给你网">
    <title>给你网-最活力的二手交易论坛</title>
    <!-- 公共样式 -->
    <!-- header样式 -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- header -->
    <div id="header">
      <!--黑色导航-->
      <div id="subNav">
        <div class="inn">
          <div class="subNav_l">
            <a href="" class="post" target=""><span class="pos_icon"></span><span>&nbsp;我要发帖</span></a>
            <a href="" class="pers" >个人中心</a>
          </div>
          <div class="subNav_r">
            <ul>
              <li>
                <a href="" class="login">登录</a>
              </li>
              <li style="border-left: 1px solid #5d5d5d;">
                <a href="" class="register">注册</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end #subNav-->
      <!--白色导航-->
      <div id="nav">
        <div class="inn">
          <div class="nav_l">
            <div class="suggestCity"><em class="locat" style="padding:11px 9px;"></em><strong>旧金山</strong><em id="changeCity_btn">[切换城市]</em></div>
          </div>
          <ul class="nav_wrap">
            <li>
              <a href="" class="current">首页</a>
            </li>
            <li>
              <a href="" >出售</a>
            </li>
            <li>
              <a href="" target="">求购</a>
            </li>
          </ul>
          <div class="nav_r">
            <a href="" class="lan">EN</a>
            <a href="" class="lan cn current">中文</a>
          </div>
        </div>
      </div>
      <!--end #nav-->
    </div>
    <!--end #header-->
    <!--页面主体-->
    <div class="cont">
      <br style="clear:both;">
      <div class="logo"></div>
      <div id="search_box" class="search_box">
        <form id="searchForm" class="searchForm" name="searchForm" action="" method="get">
          <input type="text" id="search_input" class="search_input" tabindex="1" maxlength="64" autocomplete="off" value="" placeholder="搜索" style="color: rgb(153, 153, 153);">
          <input type="submit" id="search_button" class="search_button" value="搜索" >
        </form>
        <input type="hidden" id="search_py" value="">
        <input type="hidden" id="isIndex" value="true">
      </div>
      <!--end #search_box-->
      <dl class="hotSearch">
        <dt>热门搜索：</dt>
        <dd><a href="" class="hotS">宠物</a></dd>
        <dd><a href="" class="hotS">全新</a></dd>
        <dd><a href="" class="hotS">品牌</a></dd>
        <dd><a href="" class="hotS">book</a></dd>
        <dd><a href="" class="hotS">家具</a></dd>
        <dd><a href="" class="hotS">包包</a></dd>
        <dd><a href="" class="hotS">香奈儿</a></dd>
        <dd><a href="" class="hotS">平板</a></dd>
        <dd><a href="" class="hotS">单反</a></dd>
        <dd><a href="" class="hotS">太阳镜</a></dd>
        <dd><a href="" class="hotS">特斯拉</a></dd>
        <dd><a href="" class="hotS">单车</a></dd>
      </dl>
      <!--end #hotSearch-->
      <div class="banner"><img src="images/banner.png" width="960" height="auto"  alt=""/></div>
      <!--end #banner-->
      <ul class="sale_tab" id="saleTab">
        <li class="current hotTab">热门宝贝</li>
        <li class="newTab">最新发布</li>
      </ul>
      <!--end #hot&new_tab-->  
      <div class="pop_items">
        <ul>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
          <li><span style="color:#e8534f;">[出售]</span><span style="font-size:16px;">全新 CHANEL包包 </span><span style="color:#01bfa6;">$2800 </span>
            <span style="width:auto;float:right;color:#333;font-size:14px;">2016-06-03  12:50</span>
          </li>
        </ul>
      </div>
      <!--end #pop_items-->  
      <!--上下页-->
      <div class="item_con_pager">
        <div class="pager_container">
          <span hidefocus="hidefocus" action="prev" class="pager_prev pager_prev_disabled">
          <strong class="pager_lgthen pager_lgthen_dis"></strong>上一页</span>
          <span hidefocus="hidefocus" page="1" class="pager_is_current">
          1
          </span>
          <span hidefocus="hidefocus" page="2" class="pager_not_current">
          2
          </span>
          <span hidefocus="hidefocus" page="3" class="pager_not_current">
          3
          </span>···<span hidefocus="hidefocus" page="30" class="pager_not_current">
          30
          </span>
          <span hidefocus="hidefocus" action="next" class="pager_next ">下一页<strong class="pager_lgthen "></strong></span>
        </div>
      </div>
      <!--end #item_con_pager-->
    </div>
    <!--end #页面主体-->
    <!--悬浮发帖-->
    <div id="inform_post" style="bottom: 158px;">
      <div id="post_icon">
        <div class="p_icon"></div>
        <span>我要发帖</span>
      </div>
    </div>
    <!--悬浮发帖 结束-->
    <div id="footer"></div>
  </body>
</html>
