{% extends "listing/base.html" %}

{% load staticfiles %}
{% load custom_templates %}

{% block content %}

<!--页面主体 -->
<div class="cont main_container">

<!--菜单层-->
<div class="first_floor">
<!--主菜单-->
<div class="primary_nav">
<ul class="primary_nav_list">
<li class="primary_nav_li primary_nav_li_1">
<dl class="pri_nav_wrap">
<dt>闲置数码</dt>
<dd>
<span><a href="">手机</a></span><span><a href="">相机</a></span><span><a href="">笔记本</a></span>
</dd>
</dl>
</li>
<li class="primary_nav_li primary_nav_li_2">
<dl class="pri_nav_wrap">
<dt>闲置母婴</dt>
<dd>
<span><a href="">童装</a></span><span><a href="">宝宝用品</a></span><span><a href="">玩具</a></span>
</dd>
</dl>
</li>
<li class="primary_nav_li primary_nav_li_3">
<dl class="pri_nav_wrap">
<dt>家居日用</dt>
<dd>
<span><a href="">家居</a></span><span><a href="">家纺</a></span><span><a href="">日用</a></span>
</dd>
</dl></li>
<li class="primary_nav_li primary_nav_li_4">
<dl class="pri_nav_wrap">
<dt>影音家电</dt>
<dd>
<span><a href="">大家电</a></span><span><a href="">小家电</a></span><span><a href="">料理机</a></span>
</dd>
</dl></li>
<li class="primary_nav_li primary_nav_li_5">
<dl class="pri_nav_wrap">
<dt>鞋服配饰</dt>
<dd>
<span><a href="">女装</a></span><span><a href="">女鞋</a></span><span><a href="">箱包</a></span><span><a href="">配饰</a></span>
</dd>
</dl></li>
<li class="primary_nav_li primary_nav_li_6">
<dl class="pri_nav_wrap">
<dt>奢侈品</dt>
<dd>
<span><a href="">珠宝</a></span><span><a href="">饰品</a></span><span><a href="">艺术收藏</a></span>
</dd>
</dl></li>
</ul>
</div>
<!--end primary_nav-->
<div class="banner" id="banner">
<ul class="banner_list">
<li><a href=""><img src="{% static "images/banner_yiqi.jpg" %}" width="728" height="426" alt="易网打尽珍奇宝贝"/></a>
</li>
</ul>
</div>
<!--end banner-->
<br style="clear:both;" />
</div> 
<!--end first_floor-->


<!--最新发布层-->
<div class="second_floor">
<div class="f_title">
<div class="tit">
<span class="fa-stack">
<i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-star fa-stack-1x"></i>
</span>
<span style="font-size:16px;">最新发布</span></div>
<!--end tit-->
<div class="paging">
<ul>
<a href=""><li action="prev" class="page_li page_li_l "> <i class="fa fa-angle-left fa-2x"></i> </li></a>
<a href=""><li action="next" class="page_li page_li_r is_current"> <i class="fa fa-angle-right fa-2x"></i> </li></a>
</ul>
</div>
</div>
<!--end f_title-->
<div class="f_cont">
<ul class="f_cont_ul">
<li class="f_cont_ul_li" style="margin-right:15px;">
<div class="product_img"><a href=""><img src="{% static "images/sofa.png" %}" width="310" height="auto" border="0"/></a></div>
<div class="product_title"><a href="">Fremont-sofa chair $60</a></div>
<div class="publisher">Posted on <span style="color:#9b2055;">Sun 03 Jul, 2016</span> By <span style="color:#9b2055;">joanna du</span></div>
</li>
<li class="f_cont_ul_li" style="margin-right:15px;">
<div class="product_img"><a href=""><img src="{% static "images/2.png" %}" width="310" height="auto" border="0"/></a></div>
<div class="product_title"><a href="">全新GOLD STANDARD蛋白粉低价转</a></div>
<div class="publisher">Posted on <span style="color:#9b2055;">Sun 03 Jul, 2016</span> By <span style="color:#9b2055;">joanna du</span></div>
</li>
<li class="f_cont_ul_li">
<div class="product_img"><a href=""><img src="{% static "images/1.png" %}" width="310" height="auto" border="0"/></a></div>
<div class="product_title"><a href="">低价转让Apple MacBook Air 13 inch Mid 2013 $540</a></div>
<div class="publisher">Posted on <span style="color:#9b2055;">Sun 03 Jul, 2016</span> By <span style="color:#9b2055;">joanna du</span></div>
</li>
</ul>
</div>
<!--end f_cont-->
<br style="clear:both;" />
</div>
<!--end second_floor-->


<!--分类信息层-->
<div class="third_floor">
<div class="third_f_l">
<div class="f_title">
<div class="tit">
<span class="fa-stack">
<i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-tags fa-stack-1x"></i>
</span>
<span style="font-size:16px;">分类等级</span></div>
</div>
<!--end f_title-->
<div class="third_f_l_cont">
<ul>
<li>
<dl class="third_f_l_wrap">
<dt>类型:</dt>
<dd>
<span><a href="">转让</a></span><span><a href="">求购</a></span><span><a href="">免费赠送</a></span>
</dd>
</dl>
</li>
<li>
<dl class="third_f_l_wrap">
<dt>新旧:</dt>
<dd>
<span><a href="">全新</a></span><span><a href="">95成新</a></span><span><a href="">9成新</a></span><span><a href="">8成新</a></span><span><a href="">7成新</a></span><span><a href="">6成新</a></span><span><a href="">陈旧</a></span>
</dd>
</dl>
</li>
<li>
<dl class="third_f_l_wrap">
<dt>价格:</dt>
<dd class="">
<span><a href="">$100以下</a></span><span><a href="">$100-$300</a></span><span><a href="">$300-$500</a></span><span><a href="">$500-$1000</a></span><span><a href="">$1000-$1500</a></span><span><a href="">$1500-$2000</a></span><span><a href="">$2000-$3000</a></span><span><a href="">$3000以上</a></span>
</dd>
</dl>
</li>
<li>
<dl class="third_f_l_wrap">
<dt>所在地:</dt>
<dd>
<span><a href="">湾区</a></span><span><a href="">纽约</a></span><span><a href="">芝加哥</a></span><span><a href="">洛杉矶</a></span><span><a href="">西雅图</a></span><span><a href="">波士顿</a></span>
</dd>
</dl>
</li>
</ul>
</div>
<!--end third_f_l_cont-->
</div>
<!--end third_f_l-->
<div class="third_f_r">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Medium rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-8010059870144357"
     data-ad-slot="8787832626"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
<!--end third_f_r-->
<br style="clear:both;" />
</div>
<!--end third_floor-->


<!--帮你淘-->
<div class="fourth_floor">
<div class="f_title">
<div class="tit">
<span class="fa-stack">
<i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-shopping-cart fa-stack-1x"></i>
</span>
<span style="font-size:16px;">帮你淘</span></div>
</div>
<!--end f_title-->

<div class="pop_items">
<ul>
{% for post in posts %}

<li>
{% if post.tag %}
<span style="color:#9b2055;font-size:16px;">[{{ post.tag }}]</span>
{% endif %}
<a href="{{ post.url }}" target='_blank'>
<span >{{ post.title }}</span>
</a>
<span style="width:auto;float:right;color:#333;">
{{ post.last_updated_at|date:"D d M Y" }} {% if not post.is_past_due and not post.is_only_date %} {{ post.last_updated_at|time:"H:i" }} {% endif %}
</span>
</li>
{% endfor %}
</ul>
</div>
<!--end pop_items-->  
<!--上下页-->
<div class="item_con_pager">
<div class="pager_container">
<a {% if posts.has_previous %} href="{% append_to_get page=posts.previous_page_number %}" {% endif %}>
<span hidefocus="hidefocus" action="prev" class="pager_prev {% if not posts.has_previous %} pager_prev_disabled {% endif %}">
<strong class="pager_lgthen {% if not posts.has_previous %} pager_lgthen_dis {% endif %}"></strong>上一页</span>
</a>
{% for num in posts.page_range %}
{% if not num %} ...  {# literally output dots #}
{% else %}
<a href="{% append_to_get page=num %}">
<span hidefocus="hidefocus" page="{{ num }}" {% ifequal num posts.number %} class="pager_is_current" {% else %} class="pager_not_current" {% endifequal %}>
    {{ num }}
</span>
</a>
{% endif %}
{% endfor %}
<a {% if posts.has_next %} href="{% append_to_get page=posts.next_page_number %}" {% endif %}>
  <span hidefocus="hidefocus" action="next" class="pager_next {% if not posts.has_next %} pager_lgthen_dis {% endif %}">
  下一页<strong class="pager_lgthen "></strong>
  </span>
</a>

</div>
</div>
<!--end item_con_pager-->
<br style="clear:both;" />
</div>
<!--end fourth_floor-->
</div>
<!--end cont-->
{% endblock %}

