@charset "utf-8";
*{margin:0;padding:0;}
*{outline:0;}
.html,body{
        font-size:14px;
        font-family:"Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
        color:#333;
        background-color:#f5f5f5;
        word-wrap:break-word; -webkit-font-smoothing:antialiased}

/*黑色导航*/
#subNav {
        height: 30px;
        width: auto;
        background-color:#333333;
}
#subNav .inn {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}
#subNav div.subNav_l a, #subNav .subNav_r li{
    float: left;
        display:block;
    line-height: 14px;
    padding: 0 10px;
    margin: 8px 0 0;
        
}
.post {color:#e8534f;
       }
.pers {border-left: 1px solid #5d5d5d;
       color:#fff;
           font-size:13px;
          }
.subNav_l {width:auto;
            float:left;
                        }
.subNav_r {width:auto;
           float:right;
                   }
ul,ol,dl{list-style-type: none;}
a {text-decoration: none;}

.login {color:#fff;
     }

.register {color:#fff;
              }  
/*黑色导航内容结束*/
/*白色导航*/
#nav {
    min-width:960px;
    height: 52px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #c6c6c6;
    background-color: #f5f5f5;}
#nav .inn {
    width: 960px;
    margin: 0 auto;
}
#nav .nav_l {
    float: left;
    width: 150px;
    overflow: hidden;
}
.suggestCity {
    float: left;
    font-size: 18px;
        padding-top:8px;
    line-height: 44px;
}
.locat {
        background-image: url("../images/locat.993c9ddf4375.png");
        background-repeat: no-repeat;
        background-position:0 5px;
}

.suggestCity em {
    color: #999;
    font-size: 12px;
    cursor: pointer;
        font-style: normal;
        padding:0 2px;
}
.nav_wrap {
    float: left;
}
#nav .nav_wrap li {
    display: inline-block;
    margin: 0 16px;
    position: relative;
}
.post span{display:block;
                   float:left;}
.pos_icon {
        width:12px;
        height:12px;
        background-image: url("../images/bub.48c05a79fcf7.png");
        background-repeat: no-repeat;
        background-position: left center;
}
.nav_r a{
    float: left;
        display:block;
    line-height: 14px;
        padding:0 4px;
}
#nav .nav_wrap li a {
    display: block;
    font-size: 18px;
    color: #999;
    line-height: 51px;
    padding: 0 5px;
}
#nav .nav_wrap li a.current {
    color: #333;
    border-bottom: 2px solid #e8534f;
}
#nav .nav_r {
    float: right;
    width:auto;
    overflow: hidden;
        padding-top:27px;
}

.lan {color:#666;
     }
.cn {border-left: 1px solid #ccc;}
.lan.current {color:#01bfa6;
         }
/*白色导航内容结束*/

.cont {
    width:960px;
        margin:0 auto;
}
/*搜索*/
.logo {
        width: 87px;
        height:37px;
        float: left;
        margin-right: 20px;
        background-image: url("../images/logo.ed6348ebaa6e.png");
        background-repeat: no-repeat;
        background-position: left center;
}
.search_box {
    border: 0 solid #e8534f;
    width: 850px;
    height: 37px;
    position: relative;
        float:left;
}
.search_input {
    width: 650px;
    height: 23px;
    line-height: 23px;
    float: left;
    font-size: 16px;
    padding: 5px 8px 5px 10px;
    margin: 0;
    border: 2px solid #e8534f;
    border-right: 0;}
.search_button {
    height: 37px;
    width: 180px;
    color: #FFF;
    font-size: 18px;
    border: 2px solid #e8534f;
    background: #e8534f;
    float: right;
    cursor: pointer;
}
.hotSearch {
    margin: 5px 108px 15px;
        clear:both;
}

.hotSearch dt {
    width: 70px;
    font-size: 14px;
}
.hotSearch dt, .hotSearch dd {
    float: left;
}
.hotSearch dd a.hotS {
    color: #e8534f;
        padding:0 8px;
}
/*搜索结束*/
/*banner*/
.banner {
             width:960px;
                 margin:50px 0 30px;
         }
/*end #banner*/

.sale_tab {
    background: #eee;
}
.sale_tab li {
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    font-size: 18px;
    color: #999;
}
.sale_tab li.current {
    border-top: 3px solid #e8534f;
    background: #fff;
    color: #333;
}

.pop_items {margin-bottom:30px;}
.pop_items li {padding-top:6px;
            border-bottom:1px dashed #d8cdca;}
.pop_items li span {
        padding-right:8px;
        color:#666;
        font-size:15px;
        line-height:45px;}
        
 .item_con_pager {
    margin-top: 35px;
        margin-bottom:54px;
    text-align: center;
}
.pager_container span {
    cursor: pointer;
    color: #555;
    display: inline-block;
    border: 1px solid #e8e8e8;
    height: 21px;
    line-height: 21px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    text-decoration: none;
}
.pager_container span:first-child {
    margin: 0 5px 0 0;
}
.pager_container .pager_is_current {
    background-color: #e8534f!important;
    color: #fff!important;
    font-weight: 700;
    border-color: #e8534f!important;
}
.pager_container .pager_prev_disabled, .pager_container .pager_next_disabled, .pager_container .pager_lgthen_dis {
    color: silver!important;
    cursor: default!important;
}
/*悬浮 发布*/
#inform_post {
        width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    bottom: 80px;
    margin-left: 520px;
    cursor: pointer;
    z-index: 21;
}
#post_icon .p_icon {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        background-position: left center;
        background-image: url("../images/bubbles.3acf15add057.png");
        background-repeat: no-repeat;
}

#post_icon span {
    font-size: 12px;
    color: #555;
}
