@charset "utf-8";
*{margin:0;padding:0;}
h4{font-size:18px;}
h5{font-size:16px;}
h6{font-size:14px;}
.cont_deal {left: 388px; 
	top: 135px; 
	width: 920px;
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 10000;}
	
.btn_pink{color:#fff;
         background-color:#e61874;}
.btn{width:100%;
     text-align:center;}
.deal_title {
	}

.deal_button {height: 45px;
    width: 270px;
	line-height: 45px;
	font-size:18px;
	color:#fff;
	text-align:center;
	margin-top:25px;
	border:1px solid #dc1b79;
    cursor: pointer;
	-webkit-appearance:none;
	background-color:#e61874;
	font-family: "造字工房悦黑（非商用）常规体";
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;}
.deal_button:hover{
	border-color:#dc1b79;
	background-color:#dc1b79;}